body {
    background-color: #1a1a2e;
    color: white;
    font-family: 'Arial', sans-serif;
}

h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    gap: auto;
}